#shortMessage {
    font-style: italic;
}

#face {
    background-color: #f3f3f3;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 6px solid black;
    background-image: url("../imgs/6cyokG6Ei.png");
    background-size: cover;
    position: relative;
}

#minutes,
#hour,
#seconds {
    position: absolute;
    left: 50%;
    top: 50%;
    transform-origin: top center;
}

#seconds {
    background-color: red;
    height: 30px;
    width: 2px;
}

#hour {
    background-color: black;
    height: 23px;
    width: 3px;
    transform: rotate(125deg);
}

#minutes {
    background-color: grey;
    height: 25px;
    width: 2px;
    transform: rotate(255deg);
}