#calculator{
    background-color: #222222;
    width: 20%;
    text-align: center;
}

#calculator * {
    margin: 5px;
    color:white;
    border: none;
    font-size: 24px;
}

div.row button{
    background-color:#666666;
    border-radius: 100%;
}
div.row button.operator{
    background-color: #ff8c00;
}

#display{
    text-align: end;
    padding: 10px;
}

#equals{
    width: 80%;
    border-radius: 40px;
    margin-bottom: 10px;
    background-color: #cccccc;
    color:black;
}