<!doctype html>
<html lang="en">

<head>
    <title>Ninja Gold Game</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% load static %}
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/style.css' %} ">
</head>

<body>

    <div class="p-5">
        <div class="container">
            <h1 id="title" class="display-3 text-center mx-auto w-75">Ninja Gold Game</h1>
            <div class="d-flex align-items-center justify-content-between">
                <div class="m-3 d-flex justify-content-center flex-column align-items-center">
                    <label for="gold" class="form-label w-50 bg-round">Your Gold:</label>
                    <input type="text" name="gold" class="form-control" value="{{request.session.gold}}" disabled>
                </div>
                <div class="m-3">
                    <a id="startOver" class="btn btn-primary" href="/destroy" role="button">Start Over</a>
                </div>
            </div>
            <hr class="my-2">

            <div id="locations" class="container d-flex justify-content-center align-items-center">
                <div id="farm" class="col-3 border border-2 border-dark rounded m-2 d-flex flex-column align-items-start">
                    <h1 class="m-3">Farm</h1>
                    <p class="m-3">(earns 10-20 gold)</p>
                    <a id="findBtn" class="btn btn-primary mb-2 align-self-center" href="/process_money?location=farm" role="button">
                        FindGold!
                    </a>
                </div>
                <div id="cave" class="col-3 border border-2 border-dark rounded m-2 d-flex flex-column align-items-start">
                    <h1 class="m-3">Cave</h1>
                    <p class="m-3">(earns 10-20 gold)</p>
                    <a id="findBtn" class="btn btn-primary mb-2 align-self-center" href="/process_money?location=cave" role="button">
                        FindGold!
                    </a>
                </div>
                <div id="house" class="col-3 border border-2 border-dark rounded m-2 d-flex flex-column align-items-start">
                    <h1 class="m-3">House</h1>
                    <p class="m-3">(earns 10-20 gold)</p>
                    <a id="findBtn" class="btn btn-primary mb-2 align-self-center" href="/process_money?location=house" role="button">
                        FindGold!
                    </a>
                </div>
                <div id="quest" class="col-3 border border-2 border-dark rounded m-2 d-flex flex-column align-items-start">
                    <h1 class="m-3">Quest</h1>
                    <p class="m-3">(earns/takes 0-50 gold)</p>
                    <a id="findBtn" class="btn btn-primary mb-2 align-self-center" href="/process_money?location=quest" role="button">
                        FindGold!
                    </a>
                </div>
            </div>

            <div class="container mt-3">
                <div class="mb-3">
                    <label for="activities" class="form-label fs-3 bg-round">Activities:</label>
                    <div id="activities" class="form-control border border-2 border-dark">
                        {% for activity in request.session.activities reversed %}
                        <p class="typeEffect {% if 'failed' in activity %} text-danger {% else %} text-success {% endif %}">
                            {{activity}}
                        </p>
                        {% endfor %}
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js"
        integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk"
        crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js"
        integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy"
        crossorigin="anonymous"></script>
</body>

</html>