<!DOCTYPE html>
<html lang="en">

<head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <!-- Bootstrap CSS v5.2.0-beta1 -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous" />
</head>

<body>
    <div class="p-5 bg-light">
        <div class="container text-center">
            <h1 class="display-3">Welcome to the Great Number Game!</h1>
            <p class="lead">I am thinking of a number between 1 and 100</p>
            <p class="lead">Take a guess!</p>

            {% if 'alert' in request.session %}
            <div style="width: 250px; height: 250px" class="container d-flex flex-column justify-content-center border border-3 border-dark bg-{{request.session.alert}} text-white fs-4">
                <p>{{request.session.message}}</p>
                {% if request.session.alert == 'success' %}
                    <a class="btn btn-dark text-white w-50 mx-auto" href="/destroy_session" role="button">Play again</a> 
                {% endif %}
            </div>
            {% endif %}

            <hr class="my-2" /> 

            {% if request.session.alert != 'success' %}
                <form action="/guess" method="POST">
                    {% csrf_token %}
                    <div class="mb-3">
                        <label for="" class="form-label"></label>
                        <input type="number" class="form-control border border-primary w-25 mx-auto" name="guess" required />
                        <small id="helpId" class="form-text text-muted">write your guess here</small>
                    </div>
                    <p class="lead">
                        <button type="submit" class="btn btn-primary btn-lg">Submit</button>
                    </p>
                </form>
            {% endif %}
            
        </div>
    </div>

    <!-- Bootstrap JavaScript Libraries -->
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.5/dist/umd/popper.min.js" integrity="sha384-Xe+8cL9oJa6tN/veChSP7q+mnSPaj5Bcu9mPX5F5xIGE0DVittaqT5lorf0EI7Vk" crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-kjU+l4N0Yf4ZOJErLsIcvOU2qSb74wXpOhqTvwVx3OElZRweTnQ6d31fXEoRD1Jy" crossorigin="anonymous"></script>
</body>

</html>