@font-face {
    font-family: Pathway Gothic One;
    src: url(fonts/PathwayGothicOne-Regular.ttf);
}

*{
    padding: 0px;
    margin: 0px;
    font-family: Pathway Gothic One;
}

.navbar{
    display:flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    width: 100%;
    height: 100px;
}

.navbar .left-side{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-side{
    color:white;
    width: 60%;
}

.left-side > a{
    text-decoration: none;
    color:grey;
}
.left-side > a.active{
    text-decoration: none;
    color:white;
}

.right-side .btn{
    width: 120px;
    height: 40px;
    border: 0.2rem solid black;
    background-color: #4C9FB5;
    color:white;
    font-size: 16px;
    border-radius: 10px 10px 10px 10px / 10px 20px 30px;
}

.body-container{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 200px;
}

.left-side-body{
    display:block;
    flex-direction: column;
    justify-content: space-around;
}

.left-side-body .profile-container{
    display:flex;
    flex-direction: column;
    border: 0.2rem #CCCCCC solid;
    width:100%;
    height: 350px;
    margin: 0px auto;
    position: relative;
    top: 100px;
    border-radius: 3px;
}

.profile-background{
    background-color: #4B9FB5;
    width: 100%;
    height: 200px;
}

.profile-image-shape{
    width:80px;
    height: 80px;
    border-radius: 100%;
    border: 0.2rem solid #CCCCCC;
    position: relative;
    bottom: 50px;
    left: 50px;
}

#profile-image{
    width: 100%;
    height: 100%;
}

.profile{
    height: 100%;
    width: 100%;
}

.profile-content-container{
    position: relative;
    bottom:50px;
    left:50px;
    width: 40%;
}

.profile-location{
    margin: 10px 0px;

}

.profile-location > img{
    width: 15px;
    height: 25px;
    margin-right:10px;
}

#profile-edit{
    display:flex;
    justify-content: flex-start;
    align-items: flex-end;
}

#profile-edit > img{
    width: 20px;
    height: 20px;
    margin-top: 10px;
    margin-right:10px;
}


.education-section{
    position: relative;
    top:150px;
    border: 0.2rem #CCCCCC solid;
    width:100%;
    margin: 0px auto;
    border-radius: 3px;
}

.education-section #section-background{
    background-color: black;
    padding:10px
}

.education-section #section-background #section-title{
    color:white;
    margin: 10px 20px;
}

#education-title{
    margin: 10px 20px;
}

#education-date{
    margin: 10px 20px;
    color:grey;
    font-size:15px ;
}

#education-description{
    margin: 10px 20px;
}

.right-side-body{
    display:block;
}


.connection-requests-container{
    display: block;
    border: 0.2rem solid black;
    position: relative;
    top:100px;
    width: 200px;
    overflow:scroll;


}

.header-background{
    background-color: black;
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

#connections-requests-number{
    background-color: grey;
    border-radius: 50%;
    color: black;
    padding:5px;
    align-items: center;
}

#header-title{
    color:white;
}


.user-requester-container{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-content: center;
    align-items: center;
    height: 60%;
}

.user-requester-container > img{
    width: 30px;
    height: 30px;
    margin: 10px;
}

.connection-options img{
    width:30px;
    height: 30px;
}

.connections-container{
    border: 0.2rem solid black;
    display: block;
    position: relative;
    top:150px;
    width: 200px;
    overflow:scroll;
}

.connections-container{
    border: 0.2rem solid black;
    display: block;
    position: relative;
    top:150px;
    width: 200px;
    overflow:scroll;
}

#user-view-more{
    border: 0.2rem solid black;
    width: 100%;
    text-align: left;
}

.connection-options{
    margin: 0px auto;
}




