@font-face {
    font-family: "website-font";
    /* src: url("assets/fonts/Boogaloo-Regular.ttf"); */
    /* src: url("assets/fonts/KosugiMaru-Regular.ttf"); */
    src: url("assets/fonts/Pangolin-Regular.ttf");
    /* src: url("assets/fonts/Sriracha-Regular.ttf"); */
}
*{
    margin: 0px;
    padding: 0px;
    font-family: "website-font";
}

.navbar , .subNav , .main{
    width:70%;
}

.navbar{
    background-color: black;
    color: white;
    margin: 0px auto;
    height: 60px;
    display: flex;
    align-items: center;
}

#navbar-title{
    margin-left: 30px;
}

.subNav{
    margin: 15px auto;
    display: flex;
    justify-content: center;
    font-size: 26px;
}

.main{
    display: flex;
    justify-content: space-between;
    margin: 0px auto;
}

.main .leftSide-container{
    flex:1;
}

.main .rightSide-container{
    flex:4;
}

.section{
    border: 0.2rem solid black;
    border-radius: 5px;
}

.main .leftSide-container .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 15px;
}

.main .rightSide-container .section{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 30px;
    margin-bottom: 15px;
}

.feed-information{
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
    margin: 20px;
}

.feeder-name{
    font-size: 21px;
    flex:4;
}

.likes-container{
    display:flex;
    flex:2;
    justify-content: space-around;
    align-items: center;
    font-size: 17px;
}

.likeBtn{
    width: 60px;
    height: 30px;
    border: 0.2rem solid black;
    box-shadow: 2px 3px 3px black;
    background-color: #ffd866;
    font-size: 14px;
    font-weight: 500;
}

.main .leftSide-container .section *{
    margin: 20px;
}

#profile-image{
    width: 80px;
}

#profile-name{
    font-size: 120%;
}

.feeder-content{
    margin:15px;
    width: 60%;
}

.jump{
    position: relative;
    bottom: 4px;
    box-shadow: 2px 3px 10px rgb(0, 0, 0);
}




