*{
  padding: 0px;
  margin: 0px;
}

.flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  flex-direction: row;
}

.item{
  width: 100px;
  height: 100px;
  background-color: rgb(126, 147, 45);
}

.bg-red{
  color:red;
}

.bg-black{
  color:black;
}